* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #fbf1c7;
  --fg: #3c3836;
  --gray: #7c6f64;
  --yellow1: #b3720d;
  --yellow2: #d79921;
  --font-main: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-main);

  /* Body width */
  width: 60%;
  margin: 1rem auto 0;
}

/* Flexbox navigation */

header nav > ul {
  display: flex;
  gap: 2rem;
}

header li {
  list-style-type: none;
}

/* Experimenting with the position property */

.intro > h2 {
  position: relative;
}

.intro > h2::after {
  position: absolute;
  top: -10px;
  padding: 5px;

  content: "Look at this cool absolute position!";
  font-size: 0.625rem;
  color: var(--bg);
  background-color: var(--yellow2);
}

/* Footer */

footer {
  margin-top: 2rem;
  padding: 25px;
}

footer p {
  color: var(--gray);
  text-align: center;
}

/* Playing with the display properties */

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}
