.banner {
  position: fixed;
  width: 100%;
  background-color: #f9ed69;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

#top-banner {
  top: -50px;
  transition: top 2s;
}

#top-banner.show {
  top: 0;
}

#footer-banner {
  bottom: 0;
}

#modal {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display: none;
}

div:has(#clear-data-button) {
  display: flex;
  justify-content: center;
}

#clear-data-button {
  background-color: #e03636;
  color: white;
  padding: 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  outline: none;
  cursor: pointer;

  font-size: 1.2rem;
}

#clear-data-button:hover {
  outline: 1px solid rgb(128, 128, 128);
  background-color: #b82c2c;
}
